<div class="row">
	<ng-form name="searchForm">
		<div class="col-md-3 form-group">
			<dl>
				<dt>Order Date</dt>

				<dd class="input-group" ng-class="{ 'has-error': searchForm.orderDateStart.$dirty && searchForm.orderDateStart.$invalid }">
					<input class="form-control" type="text" name="orderDateStart" placeholder="Order Date Start" ng-click="vm.showPopup('orderDateStart')" ng-model="vm.formModel.orderDate.selectedStartDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.orderDate.startDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('orderDateStart')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>

				<dd class="input-group margin-top" ng-class="{ 'has-error': searchForm.orderDateEnd.$dirty && searchForm.orderDateEnd.$invalid }">
					<input class="form-control" type="text" name="orderDateEnd" placeholder="Order Date End" ng-click="vm.showPopup('orderDateEnd')" ng-model="vm.formModel.orderDate.selectedEndDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.orderDate.endDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('orderDateEnd')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>
			</dl>
		</div>

		<div class="col-md-3 form-group">
			<dl>
				<dt>Due Date</dt>

				<dd class="input-group" ng-class="{ 'has-error': searchForm.dueDateStart.$dirty && searchForm.dueDateStart.$invalid }">
					<input class="form-control" type="text" name="dueDateStart" placeholder="Due Date Start" ng-click="vm.showPopup('dueDateStart')" ng-model="vm.formModel.dueDate.selectedStartDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.dueDate.startDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('dueDateStart')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>

				<dd class="input-group margin-top" ng-class="{ 'has-error': searchForm.dueDateEnd.$dirty && searchForm.dueDateEnd.$invalid }">
					<input class="form-control" type="text" name="dueDateEnd" placeholder="Due Date End" ng-click="vm.showPopup('dueDateEnd')" ng-model="vm.formModel.dueDate.selectedEndDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.dueDate.endDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('dueDateEnd')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>
			</dl>
		</div>

		<div class="col-md-3 form-group">
			<dl>
				<dt>Ship Date</dt>

				<dd class="input-group" ng-class="{ 'has-error': searchForm.shipDateStart.$dirty && searchForm.shipDateStart.$invalid }">
					<input class="form-control" type="text" name="shipDateStart" placeholder="Ship Date Start" ng-click="vm.showPopup('shipDateStart')" ng-model="vm.formModel.shipDate.selectedStartDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.shipDate.startDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('shipDateStart')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>

				<dd class="input-group margin-top" ng-class="{ 'has-error': searchForm.shipDateEnd.$dirty && searchForm.shipDateEnd.$invalid }">
					<input class="form-control" type="text" name="shipDateEnd" placeholder="Ship Date End" ng-click="vm.showPopup('shipDateEnd')" ng-model="vm.formModel.shipDate.selectedEndDate" uib-datepicker-popup="{{ vm.formModel.datepickerFormat }}" is-open="vm.formModel.shipDate.endDatePopupOpened" on-open-focus="false" datepicker-options="vm.formModel.dateOptions" close-text="Close" />

					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.showPopup('shipDateEnd')">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</dd>
			</dl>
		</div>

		<div class="col-md-3 form-group">
			<dl>
				<dt>Customer Name</dt>

				<dd>
					<input class="form-control" type="text" name="customerName" placeholder="Customer Name" ng-model="vm.formModel.customerName" />
				</dd>

				<dd class="margin-top">
					<div class="row">
						<div class="col-xs-6">
							<button class="btn btn-primary" ng-click="vm.getSalesOrderSearch($event)" ng-disabled="searchForm.$invalid">
								<i class="fa fa-search"></i>
								Search
							</button>
						</div>

						<div class="col-xs-6">
							<button class="btn btn-default" ng-click="vm.resetForm('searchForm')">
								<i class="fa fa-refresh"></i>
								Reset
							</button>
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</ng-form>
</div>

<div class="row" ng-if="vm.noDataLoaded()">
	<div class="col-md-12">
		<em>No records found</em>
	</div>
</div>

<table class="table table-striped" ng-if="vm.dataLoaded()">
	<thead>
		<tr>
			<th>Customer Name</th>
			<th>Account Number</th>
			<th>Ship To Address</th>
			<th>Ship Method</th>
			<th>Sub Total</th>
			<th>Tax</th>
			<th>Freight</th>
			<th>Total</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="order in vm.formModel.salesOrders">
			<td>
				<a ng-href="/detail/{{ order.salesOrderId }}" ng-bind="order.person.fullName"></a>
			</td>
			<td ng-bind="order.accountNumber"></td>
			<td ng-bind-html="order.shipToAddress.fullAddressHtml"></td>
			<td ng-bind="order.shipMethod.name"></td>
			<td ng-bind="order.subTotal | currency"></td>
			<td ng-bind="order.taxAmt | currency"></td>
			<td ng-bind="order.freight | currency"></td>
			<td ng-bind="order.totalDue | currency"></td>
		</tr>
	</tbody>
</table>