<dl [formGroup]="dateRangeForm">
  <dt [ngClass]="{ 'error-message': dateRangeForm.invalid }">{{ label }}</dt>

  <dd>
    <p-calendar
      formControlName="fromDate"
      [placeholder]="placeholderFrom"
      [selectOtherMonths]="true"
      [showIcon]="true">
    </p-calendar>
  </dd>

  <dd>
    <p-calendar
      formControlName="toDate"
      [placeholder]="placeholderTo"
      [selectOtherMonths]="true"
      [showIcon]="true">
    </p-calendar>
  </dd>

  <dd *ngIf="dateRangeForm.invalid" class="error-message fw-bold small">
    {{ errorMessage }}
  </dd>
</dl>
