<dl [formGroup]="dateRangeForm">
  <dt [ngClass]="{ 'error-message': dateRangeForm.invalid }">{{ label() }}</dt>

  <dd>
    <p-datepicker
      formControlName="fromDate"
      [placeholder]="placeholderFrom()"
      [selectOtherMonths]="true"
      [showIcon]="true"
      (onBlur)="handleOnTouched()"
      [id]="id + '-fromDate'"
      [name]="id + '-fromDate'">
    </p-datepicker>
  </dd>

  <dd>
    <p-datepicker
      formControlName="toDate"
      [placeholder]="placeholderTo()"
      [selectOtherMonths]="true"
      [showIcon]="true"
      (onBlur)="handleOnTouched()"
      [id]="id + '-toDate'"
      [name]="id + '-toDate'">
    </p-datepicker>
  </dd>

  @if (dateRangeForm.invalid) {
    <dd class="error-message fw-bold small">
      {{ errorMessage() }}
    </dd>
  }
</dl>
