<div class="card mt-3" *ngIf="salesOrderDetail">
    <div class="card-header strong">{{ salesOrderDetail?.name }}</div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-6">Product Number:</dt>
            <dd class="col-6">{{ salesOrderDetail?.productNumber }}</dd>

            <dt class="col-6">Order Quantity:</dt>
            <dd class="col-6">{{ salesOrderDetail?.orderQty }}</dd>

            <dt class="col-6">Unit Price:</dt>
            <dd class="col-6">{{ salesOrderDetail?.unitPrice | currency }}</dd>

            <dt class="col-6">Unit Price Discount:</dt>
            <dd class="col-6">{{ salesOrderDetail?.unitPriceDiscount | currency }}</dd>

            <dt class="col-6">Line Total:</dt>
            <dd class="col-6">{{ salesOrderDetail?.lineTotal | currency }}</dd>
        </dl>
    </div>
</div>
