<h2>Sales Order</h2>

<form novalidate (submit)="onSubmit()" [formGroup]="searchForm">
  <div class="row">
    <div class="col-md-3">
      <app-date-range formControlName="orderDate" label="Order Date"></app-date-range>
    </div>

    <div class="col-md-3">
      <app-date-range formControlName="dueDate" label="Due Date"></app-date-range>
    </div>

    <div class="col-md-3">
      <app-date-range formControlName="shipDate" label="Ship Date"></app-date-range>
    </div>

    <div class="col-md-3">
      <app-input-textbox formControlName="customerName" label="Customer Name"></app-input-textbox>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <button pButton type="submit" icon="fa fa-search" iconPos="left" label="search" [disabled]="searchForm.invalid"></button>
      <button pButton type="button" icon="fa fa-sync-alt" iconPos="left" label="Reset" class="p-button-secondary ms-3" (click)="onReset()"></button>
    </div>
  </div>
</form>

<div class="row mt-3" *ngIf="salesOrderHeader">
  <div class="col-md-12">
    <p-table [value]="salesOrderHeader" [columns]="columns" [rows]="10" [paginator]="true" [autoLayout]="true" [totalRecords]="totalRecords"
      [lazy]="true" [lazyLoadOnInit]="false" [alwaysShowPaginator]="false" (onPage)="onPage($event)" (onSort)="onSort($event)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <a [routerLink]="['/sales', 'detail', rowData.salesOrderId]">
              {{ rowData.person.fullName }}
            </a>
          </td>

          <td>
            {{ rowData.accountNumber }}
          </td>

          <td>
            TODO - SHIP TO ADDRESS!!!
          </td>

          <td>
            {{ rowData.shipMethod.shipMethodName }}
          </td>

          <td>
            {{ rowData.subTotal | currency }}
          </td>

          <td>
            {{ rowData.taxAmt | currency }}
          </td>

          <td>
            {{ rowData.freight | currency }}
          </td>

          <td>
            {{ rowData.totalDue | currency }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
