<h1>Developer candidate test</h1>
<ul>
  <li>Create 2 page web site using AdventureWorks db (username = candidateTest, password = Password123!)
    <ul>
      <li>Sales Order Search</li>
      <li>Sales Order Detail</li>
    </ul>
  </li>
  <li>
    Sales Order Search
    <ul>
      <li>
        Search criteria section
        <ul>
          <li>
            Date Range
            <ul>
              <li>Order date</li>
              <li>Due date</li>
              <li>Ship date</li>
            </ul>
          </li>
          <li>Customer Name</li>
        </ul>
      </li>
      <li>
        List results in grid
        <ul>
          <li>Customer name</li>
          <li>Account number</li>
          <li>Ship to address</li>
          <li>Ship method</li>
          <li>Sub total</li>
          <li>Tax</li>
          <li>Freight</li>
          <li>Total</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Sales Order Detail
    <ul>
      <li>Each line item should be in its own section</li>
      <li>
        Data to display
        <ul>
          <li>
            Product info
            <ul>
              <li>Name</li>
              <li>Product Number</li>
              <li>Quantity</li>
              <li>Unit Price</li>
              <li>Discount</li>
              <li>Line Total</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    BONUS PAGE (create this page if you have time and redirect to the Sales Order Search page after authenticating user
    when they click on Login button)
    <ul>
      <li>
        Login page
        <ul>
          <li>Username</li>
          <li>Password</li>
          <li>Login button</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Tech to use
    <ul>
      <li>Bootstrap (color scheme other than default)</li>
      <li>C#</li>
      <li>ASP.NET MVC</li>
      <li>AngularJS</li>
      <li>jQuery</li>
      <li>
        SQL Server
        <ul>
          <li>Stored procedures only, no in-line SQL</li>
          <li>You can use an ORM (not EF) or just POCO with ADO.net</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
